---
import Image from 'astro/components/Image.astro';
import { Icon } from '@astrojs/starlight/components';
import { SOCIAL_MEDIA as sc, Name, desig, profile1 } from '../consts';
---

<section class="hero">
  <div>
    <Image
      height={200}
      width={200}
      src={profile1}
      alt="Profile"
      class="hero-image"
    />
    <div class="hero-content">
      <h2>
        <span class="name">Hi👋</span> I'm <span class="name">{Name}</span>
      </h2>
      <div class="position">
        <p>{desig}</p>
      </div>
      <p>Contact me</p>
      <div class="social-links">
        <a href={sc.github} target="_blank" aria-label="GitHub">
          <button class="btn">
            <Icon name="github" />
            Github
          </button>
        </a>
        <a href={sc.linkedin} target="_blank" aria-label="LinkedIn">
          <button class="btn">
            <Icon name="linkedin" />
            Linkedin
          </button>
        </a>
        <a href={`mailto:${sc.email}`} aria-label="Email">
          <button class="btn">
            <Icon name="email" />
            Email
          </button>
        </a>
      </div>
    </div>
  </div>

  {/* 🌊 SVG Waves */}
  <svg
    width="100%"
    height="100%"
    id="svg"
    viewBox="0 0 1440 390"
    xmlns="http://www.w3.org/2000/svg"
    class="transition duration-300 ease-in-out delay-150"
    ><style>
      .path-0 {
        animation: pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-0 {
        0% {
          d: path(
            'M 0,400 L 0,75 C 60.668047848070046,67.64752743864841 121.33609569614009,60.295054877296835 178,62 C 234.6639043038599,63.704945122703165 287.3236650635097,74.46730792946109 332,87 C 376.6763349364903,99.53269207053891 413.3692440498212,113.83571340485881 463,106 C 512.6307559501788,98.16428659514119 575.1993587372056,68.18983845110371 642,53 C 708.8006412627944,37.81016154889629 779.8333210013566,37.40493279072635 824,54 C 868.1666789986434,70.59506720927365 885.4673572573683,104.19043038599087 940,110 C 994.5326427426317,115.80956961400913 1086.29724996917,93.83334566531013 1143,78 C 1199.70275003083,62.16665433468986 1221.3436428659516,52.47618695276852 1265,53 C 1308.6563571340484,53.52381304723148 1374.3281785670242,64.26190652361574 1440,75 L 1440,400 L 0,400 Z'
          );
        }
        25% {
          d: path(
            'M 0,400 L 0,75 C 51.97148846960168,62.76149956838081 103.94297693920336,50.52299913676162 154,42 C 204.05702306079664,33.47700086323838 252.1995807127883,28.669503021334314 306,46 C 359.8004192872117,63.330496978665686 419.2587002096436,102.7989887779011 470,108 C 520.7412997903564,113.2010112220989 562.7656184486373,84.1345418670613 625,71 C 687.2343815513627,57.865458132938706 769.6788259958071,60.662843753853736 828,63 C 886.3211740041929,65.33715624614626 920.519077568134,67.21408311752373 960,60 C 999.480922431866,52.785916882476265 1044.2448637316563,36.4808237760513 1094,46 C 1143.7551362683437,55.5191762239487 1198.5014675052412,90.86262177827105 1257,100 C 1315.4985324947588,109.13737822172895 1377.7492662473794,92.06868911086448 1440,75 L 1440,400 L 0,400 Z'
          );
        }
        50% {
          d: path(
            'M 0,400 L 0,75 C 36.388802565051165,75.22932544086817 72.77760513010233,75.45865088173635 134,75 C 195.22239486989767,74.54134911826365 281.2783820446418,73.39472191392281 334,65 C 386.7216179553582,56.60527808607719 406.1088666913306,40.96246146257245 454,43 C 501.8911333086694,45.03753853742755 578.2861511900358,64.7554322357874 641,73 C 703.7138488099642,81.2445677642126 752.7465285485264,78.01580959427798 802,77 C 851.2534714514736,75.98419040572202 900.727734615859,77.18132938710075 950,76 C 999.272265384141,74.81867061289925 1048.3425329880379,71.25887285731903 1108,77 C 1167.6574670119621,82.74112714268097 1237.9021334319891,97.78317918362313 1295,99 C 1352.0978665680109,100.21682081637687 1396.0489332840054,87.60841040818843 1440,75 L 1440,400 L 0,400 Z'
          );
        }
        75% {
          d: path(
            'M 0,400 L 0,75 C 58.593513380194835,66.98352447897398 117.18702676038967,58.967048957947966 170,65 C 222.81297323961033,71.03295104205203 269.84540633863617,91.11532864718215 322,93 C 374.15459366136383,94.88467135281785 431.431347885066,78.57163645332346 483,80 C 534.568652114934,81.42836354667654 580.4292021211,100.59812553952399 630,99 C 679.5707978789,97.40187446047601 732.851843630534,75.03586138858059 780,58 C 827.148156369466,40.964138611419415 868.1634233567642,29.25842890615366 934,44 C 999.8365766432358,58.74157109384634 1090.4944629424097,99.93042298680479 1144,100 C 1197.5055370575903,100.06957701319521 1213.8587248735973,59.019879146627204 1257,48 C 1300.1412751264027,36.980120853372796 1370.0706375632012,55.9900604266864 1440,75 L 1440,400 L 0,400 Z'
          );
        }
        100% {
          d: path(
            'M 0,400 L 0,75 C 60.668047848070046,67.64752743864841 121.33609569614009,60.295054877296835 178,62 C 234.6639043038599,63.704945122703165 287.3236650635097,74.46730792946109 332,87 C 376.6763349364903,99.53269207053891 413.3692440498212,113.83571340485881 463,106 C 512.6307559501788,98.16428659514119 575.1993587372056,68.18983845110371 642,53 C 708.8006412627944,37.81016154889629 779.8333210013566,37.40493279072635 824,54 C 868.1666789986434,70.59506720927365 885.4673572573683,104.19043038599087 940,110 C 994.5326427426317,115.80956961400913 1086.29724996917,93.83334566531013 1143,78 C 1199.70275003083,62.16665433468986 1221.3436428659516,52.47618695276852 1265,53 C 1308.6563571340484,53.52381304723148 1374.3281785670242,64.26190652361574 1440,75 L 1440,400 L 0,400 Z'
          );
        }
      }
    </style>
    <path
      d="M 0,400 L 0,75 C 60.668047848070046,67.64752743864841 121.33609569614009,60.295054877296835 178,62 C 234.6639043038599,63.704945122703165 287.3236650635097,74.46730792946109 332,87 C 376.6763349364903,99.53269207053891 413.3692440498212,113.83571340485881 463,106 C 512.6307559501788,98.16428659514119 575.1993587372056,68.18983845110371 642,53 C 708.8006412627944,37.81016154889629 779.8333210013566,37.40493279072635 824,54 C 868.1666789986434,70.59506720927365 885.4673572573683,104.19043038599087 940,110 C 994.5326427426317,115.80956961400913 1086.29724996917,93.83334566531013 1143,78 C 1199.70275003083,62.16665433468986 1221.3436428659516,52.47618695276852 1265,53 C 1308.6563571340484,53.52381304723148 1374.3281785670242,64.26190652361574 1440,75 L 1440,400 L 0,400 Z"
      stroke="none"
      stroke-width="0"
      fill="currentColor"
      fill-opacity="0.4"
      class="waves transition-all duration-300 ease-in-out delay-150 path-0"
    ></path><style>
      .path-1 {
        animation: pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-1 {
        0% {
          d: path(
            'M 0,400 L 0,175 C 57.28356147490442,196.1007029226785 114.56712294980883,217.201405845357 172,209 C 229.43287705019117,200.798594154643 287.01506967566905,163.2950795412505 335,164 C 382.98493032433095,164.7049204587495 421.3725983475151,203.61827598964115 471,200 C 520.6274016524849,196.38172401035885 581.4945369342706,150.23181650018498 640,152 C 698.5054630657294,153.76818349981502 754.6492539154028,203.45445800961895 812,210 C 869.3507460845972,216.54554199038105 927.9084474041188,179.95035146133927 987,172 C 1046.0915525958812,164.04964853866073 1105.7169564681217,184.74413614502407 1146,180 C 1186.2830435318783,175.25586385497593 1207.2237267233938,145.07310395856456 1253,140 C 1298.7762732766062,134.92689604143544 1369.388136638303,154.96344802071772 1440,175 L 1440,400 L 0,400 Z'
          );
        }
        25% {
          d: path(
            'M 0,400 L 0,175 C 66.55291651251696,171.5351584659021 133.10583302503392,168.07031693180417 181,164 C 228.89416697496608,159.92968306819583 258.1295844123813,155.2538907386854 308,150 C 357.8704155876187,144.7461092613146 428.3758293254409,138.9141201134542 492,146 C 555.6241706745591,153.0858798865458 612.3670982858551,173.0896288074978 655,183 C 697.6329017141449,192.9103711925022 726.1557775311384,192.72736465655447 779,186 C 831.8442224688616,179.27263534344553 909.0097915895917,166.00091256628437 974,161 C 1038.9902084104083,155.99908743371563 1091.8050561104947,159.26898507830802 1133,156 C 1174.1949438895053,152.73101492169198 1203.7699839684303,142.9231471204834 1253,145 C 1302.2300160315697,147.0768528795166 1371.115008015785,161.0384264397583 1440,175 L 1440,400 L 0,400 Z'
          );
        }
        50% {
          d: path(
            'M 0,400 L 0,175 C 33.122555185596255,167.44286595141202 66.24511037119251,159.88573190282403 130,154 C 193.7548896288075,148.11426809717597 288.14211370082626,143.89993834011594 342,155 C 395.85788629917374,166.10006165988406 409.18643482550254,192.5145147367123 455,203 C 500.81356517449746,213.4854852632877 579.1121469971637,208.04200271303492 639,197 C 698.8878530028363,185.95799728696508 740.3649771858428,169.31747441114808 798,172 C 855.6350228141572,174.68252558885192 929.4279442594648,196.6880996423727 985,193 C 1040.5720557405352,189.3119003576273 1077.9232457762978,159.9301270193612 1128,157 C 1178.0767542237022,154.0698729806388 1240.8790726353434,177.5913922801825 1295,185 C 1349.1209273646566,192.4086077198175 1394.5604636823282,183.70430385990875 1440,175 L 1440,400 L 0,400 Z'
          );
        }
        75% {
          d: path(
            'M 0,400 L 0,175 C 61.41724010358861,171.35126402762364 122.83448020717722,167.70252805524726 171,161 C 219.16551979282278,154.29747194475274 254.07931927487977,144.5411518066346 306,155 C 357.92068072512023,165.4588481933654 426.84824269330375,196.13286471821436 491,197 C 555.1517573066963,197.86713528178564 614.5277099519053,168.92738932050807 661,164 C 707.4722900480947,159.07261067949193 741.0409174990751,178.15757799975336 788,178 C 834.9590825009249,177.84242200024664 895.3086200517942,158.44229868047847 953,158 C 1010.6913799482058,157.55770131952153 1065.7246022937477,176.07322727833272 1121,185 C 1176.2753977062523,193.92677272166728 1231.792970773215,193.26479220619066 1285,190 C 1338.207029226785,186.73520779380934 1389.1035146133925,180.86760389690465 1440,175 L 1440,400 L 0,400 Z'
          );
        }
        100% {
          d: path(
            'M 0,400 L 0,175 C 57.28356147490442,196.1007029226785 114.56712294980883,217.201405845357 172,209 C 229.43287705019117,200.798594154643 287.01506967566905,163.2950795412505 335,164 C 382.98493032433095,164.7049204587495 421.3725983475151,203.61827598964115 471,200 C 520.6274016524849,196.38172401035885 581.4945369342706,150.23181650018498 640,152 C 698.5054630657294,153.76818349981502 754.6492539154028,203.45445800961895 812,210 C 869.3507460845972,216.54554199038105 927.9084474041188,179.95035146133927 987,172 C 1046.0915525958812,164.04964853866073 1105.7169564681217,184.74413614502407 1146,180 C 1186.2830435318783,175.25586385497593 1207.2237267233938,145.07310395856456 1253,140 C 1298.7762732766062,134.92689604143544 1369.388136638303,154.96344802071772 1440,175 L 1440,400 L 0,400 Z'
          );
        }
      }
    </style><path
      d="M 0,400 L 0,175 C 57.28356147490442,196.1007029226785 114.56712294980883,217.201405845357 172,209 C 229.43287705019117,200.798594154643 287.01506967566905,163.2950795412505 335,164 C 382.98493032433095,164.7049204587495 421.3725983475151,203.61827598964115 471,200 C 520.6274016524849,196.38172401035885 581.4945369342706,150.23181650018498 640,152 C 698.5054630657294,153.76818349981502 754.6492539154028,203.45445800961895 812,210 C 869.3507460845972,216.54554199038105 927.9084474041188,179.95035146133927 987,172 C 1046.0915525958812,164.04964853866073 1105.7169564681217,184.74413614502407 1146,180 C 1186.2830435318783,175.25586385497593 1207.2237267233938,145.07310395856456 1253,140 C 1298.7762732766062,134.92689604143544 1369.388136638303,154.96344802071772 1440,175 L 1440,400 L 0,400 Z"
      stroke="none"
      stroke-width="0"
      fill="currentColor"
      fill-opacity="0.53"
      class="waves transition-all duration-300 ease-in-out delay-150 path-1"
    ></path><style>
      .path-2 {
        animation: pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-2 {
        0% {
          d: path(
            'M 0,400 L 0,275 C 56.37681588358613,266.94786040202246 112.75363176717227,258.89572080404486 168,261 C 223.24636823282773,263.10427919595514 277.36228881489706,275.36497718584286 333,285 C 388.63771118510294,294.63502281415714 445.79721297323954,301.64437045258353 503,292 C 560.2027870267605,282.35562954741647 617.4488592921446,256.0575410038229 669,250 C 720.5511407078554,243.9424589961771 766.4073498581822,258.12546553212485 816,257 C 865.5926501418178,255.87453446787518 918.9217412751265,239.44059686767787 971,245 C 1023.0782587248735,250.55940313232213 1073.905685041312,278.1121469971637 1125,285 C 1176.094314958688,291.8878530028363 1227.4555185596253,278.11081514366754 1280,273 C 1332.5444814403747,267.88918485633246 1386.2722407201873,271.44459242816623 1440,275 L 1440,400 L 0,400 Z'
          );
        }
        25% {
          d: path(
            'M 0,400 L 0,275 C 59.40619065236157,278.4250339129362 118.81238130472315,281.8500678258725 175,287 C 231.18761869527685,292.1499321741275 284.15666543346896,299.02476260944627 329,290 C 373.84333456653104,280.97523739055373 410.56095696140096,256.0508817363423 468,247 C 525.439043038599,237.94911826365768 603.5995067209273,244.77171044518434 668,251 C 732.4004932790727,257.22828955481566 783.0410161548896,262.86227648292027 827,262 C 870.9589838451104,261.13772351707973 908.2364286595141,253.77918362313477 954,261 C 999.7635713404859,268.22081637686523 1054.0132692070538,290.02098902454065 1115,293 C 1175.9867307929462,295.97901097545935 1243.7104945122703,280.13686027870267 1299,274 C 1354.2895054877297,267.86313972129733 1397.144752743865,271.43156986064866 1440,275 L 1440,400 L 0,400 Z'
          );
        }
        50% {
          d: path(
            'M 0,400 L 0,275 C 64.8169194721914,281.4389197188309 129.6338389443828,287.87783943766186 180,295 C 230.3661610556172,302.12216056233814 266.28156369466024,309.9275619681835 324,310 C 381.71843630533976,310.0724380318165 461.23990627697617,302.41191268960415 509,293 C 556.7600937230238,283.58808731039585 572.7588111974351,272.4247872733999 623,265 C 673.2411888025649,257.5752127266001 757.7248489332839,253.8889382167962 819,249 C 880.2751510667161,244.1110617832038 918.3417930694292,238.0194598594154 964,242 C 1009.6582069305708,245.9805401405846 1062.907978789,260.033222345542 1124,265 C 1185.092021211,269.966777654458 1254.0262917745713,265.84765075841653 1308,266 C 1361.9737082254287,266.15234924158347 1400.9868541127144,270.57617462079173 1440,275 L 1440,400 L 0,400 Z'
          );
        }
        75% {
          d: path(
            'M 0,400 L 0,275 C 65.8503884572697,254.4105315082008 131.7007769145394,233.82106301640158 186,245 C 240.2992230854606,256.1789369835984 283.0472807991121,299.1262794425946 329,304 C 374.9527192008879,308.8737205574054 424.1100998890123,275.67381921321993 485,272 C 545.8899001109877,268.32618078678007 618.5123196448391,294.1784437045259 669,305 C 719.4876803551609,315.8215562954741 747.8406215316315,311.61240596867674 803,306 C 858.1593784683685,300.38759403132326 940.1251942286349,293.37193242076705 989,281 C 1037.8748057713651,268.62806757923295 1053.6586015538292,250.89986434825505 1101,245 C 1148.3413984461708,239.10013565174495 1227.2403995560487,245.02861018621286 1289,252 C 1350.7596004439513,258.97138981378714 1395.3798002219755,266.98569490689357 1440,275 L 1440,400 L 0,400 Z'
          );
        }
        100% {
          d: path(
            'M 0,400 L 0,275 C 56.37681588358613,266.94786040202246 112.75363176717227,258.89572080404486 168,261 C 223.24636823282773,263.10427919595514 277.36228881489706,275.36497718584286 333,285 C 388.63771118510294,294.63502281415714 445.79721297323954,301.64437045258353 503,292 C 560.2027870267605,282.35562954741647 617.4488592921446,256.0575410038229 669,250 C 720.5511407078554,243.9424589961771 766.4073498581822,258.12546553212485 816,257 C 865.5926501418178,255.87453446787518 918.9217412751265,239.44059686767787 971,245 C 1023.0782587248735,250.55940313232213 1073.905685041312,278.1121469971637 1125,285 C 1176.094314958688,291.8878530028363 1227.4555185596253,278.11081514366754 1280,273 C 1332.5444814403747,267.88918485633246 1386.2722407201873,271.44459242816623 1440,275 L 1440,400 L 0,400 Z'
          );
        }
      }
    </style><path
      d="M 0,400 L 0,275 C 56.37681588358613,266.94786040202246 112.75363176717227,258.89572080404486 168,261 C 223.24636823282773,263.10427919595514 277.36228881489706,275.36497718584286 333,285 C 388.63771118510294,294.63502281415714 445.79721297323954,301.64437045258353 503,292 C 560.2027870267605,282.35562954741647 617.4488592921446,256.0575410038229 669,250 C 720.5511407078554,243.9424589961771 766.4073498581822,258.12546553212485 816,257 C 865.5926501418178,255.87453446787518 918.9217412751265,239.44059686767787 971,245 C 1023.0782587248735,250.55940313232213 1073.905685041312,278.1121469971637 1125,285 C 1176.094314958688,291.8878530028363 1227.4555185596253,278.11081514366754 1280,273 C 1332.5444814403747,267.88918485633246 1386.2722407201873,271.44459242816623 1440,275 L 1440,400 L 0,400 Z"
      stroke="none"
      stroke-width="0"
      fill="currentColor"
      fill-opacity="1"
      class="waves transition-all duration-300 ease-in-out delay-150 path-2"
    ></path></svg
  >
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .waves {
    color: var(--waves);
  }

  .hero div {
    position: relative;
  }

  .wave {
    display: inline-block;
  }

  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;
  }

  .social-links a {
    color: var(--text-color);
    text-decoration: none;
  }

  .social-links a:hover {
    color: var(--text-alt);
  }

  .links {
    width: 25px;
    height: 25px;
    display: block; /* Ensures the icon is properly spaced */
    color: var(--text-alt);
  }

  .wave-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: transform 0.1s ease-out;
  }

  .hero-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 2;
  }

  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  p {
    font-size: 1rem;
  }

  .postion p {
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .wave-svg {
    position: absolute;
    top: 0; /* Moves the SVG halfway up the hero section */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: translateY(
      -50%
    ); /* Centers it within the middle of the section */
  }
  .name {
    font-size: 2rem;
  }
</style>
